# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# Editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
